<div id="max-width-container">
    <nav class="navbar navbar-custom navbar-default navbar-fixed-top" id="navbar-example">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin-left: 0px margin-right: 0px">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><%= image_tag "ggc.png", size: "55x60" %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#event" class="page-scroll">EVENT</a></li>
                    <!-- <li><a href="#apis" class="page-scroll">APIS</a></li> -->
                    <li><a href="#schedule" class="page-scroll">SCHEDULE</a></li>
                    <li><a href="#location" class="page-scroll">LOCATION</a></li>
                    <li><a href="#team" class="page-scroll">TEAM</a></li>
                    <li><a href="#sponsors" class="page-scroll">SPONSORS</a></li>
                    <li><a href="#faq" class="page-scroll">FAQ</a></li>
                    <li><a href="#contact" class="page-scroll">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".page-scroll").click(function(event) {
          event.preventDefault();
          $('html,body').animate( { scrollTop:$(this.hash).offset().top } , 1000);
        } );
      } );

      jQuery(document).ready(function($) {
        $('.navbar-collapse').click('li', function() {
          $('.navbar-collapse').collapse('hide');
        });
      } );
    </script>

<div id="welcome" class="padding-top-bottom" style="background-color:#4D4D4D;color:#FD775B ">
    <div class="container">

        <%= image_tag "hack_like_a_Girl_final.svg" %>

        <h2 class="padding-top middle-padding-bottom">Hackathon: Health & Fitness</h2>

        <h1 class="no-padding-bottom middle-padding-bottom">14 - 16 October 2016</h1>

        <p class="middle-padding-bottom no-margin button">
            <a class="btn btn-default btn-lg btn-sharp" target="_blank" href="https://www.eventbrite.com/e/hack-like-a-girl-2016-tickets-27370056576" role="button">Register now!</a>
        </p>
        <a href="https://www.facebook.com/ggc.berlin/" target="_blank">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook-f fa-stack-1x"></i>
          </span>
        </a>
        <a href="https://twitter.com/ggCarrotsBerlin">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
    </div>
</div>

<a name="event"></a>
<div id="event" class="padding-top-bottom" style="background-color:#FD775B;color:white">
    <div class="container">
        <h1>EVENT</h1>
        <div class="row">
            <div class="col-sm-4 col-xs-12 padding-bottom-mini event">
                <h2>Topic</h2>

                <p>We want to attract more women to the IT industry and make sure they feel comfortable and their ideas and skills are appreciated. That's why we welcome women to collaborate during one weekend on projects around the topic <b>Health & Fitness</b>. Virtual Reality developers will give a workshop on how to build VR apps. You will get assistance from mentors on all your projects and the best three teams will be awarded prizes. To keep your creativity in best shape we will provide healthy food and snacks and exercise like Zumba class during coding breaks.
                </p>
            </div>
            <div class="col-sm-4 col-xs-12 padding-bottom-mini event">
                <h2>Application</h2>

                <p>You want to take part?
                    Start by clicking on the “Register Now” button below and registering on the Eventbrite page. You will need to pay a deposit fee, which will be transferred back to you on Saturday if you come to the hackathon. We welcome idea masterminds, developers, designers, data scientists and marketers, beginners and experts.
                    The amount of participants is limited, so hurry up to get your spot! </p>
            </div>
            <div class="col-sm-4 col-xs-12 padding-bottom-mini event">
                <h2>Prizes</h2>
                <p>All participants will get goodies from our sponsors. The best three teams will be awarded prizes by our jury:</p>
                <ol>
                    <li class="prizes">
                      <p>Zeiss VR glasses</p>
                      <p class="prizes"><%= image_tag "vr.jpg", size: "100x80" %></p>
                      <p>free tickets to Data Native conference</p>
                      <p class="prizes"><%= image_tag "datanative.jpg", size: "100x80" %></p>
                    </li>
                    <li class="prizes">
                      <p>Arduino</p>
                    </li>
                    <li class="prizes">
                      <p>Amazon gift certificates</p>
                    </li>
                </ol>
            </div>
        </div>

        <p class="middle-padding-bottom  no-margin button">
            <a class="btn btn-default btn-lg btn-sharp-event" target="_blank" href="https://www.eventbrite.com/e/hack-like-a-girl-2016-tickets-27370056576" role="button">Register now!</a>
        </p>

        <iframe src="https://player.vimeo.com/video/144333548" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>

  <a name="schedule"></a>
  <div id="schedule" class="container-fluid padding-top-bottom">
    <h1 style="color: #FD775B">SCHEDULE</h1>

    <div class="container">
      <div class="row">
            <div class="col-sm-12">
                <h2 style="padding-bottom: 40px"><span class="highlight">//</span> FRIDAY <span class="highlight">//</span>
                    10/14/16</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-3">
                            <p class="time">7 pm - 10 pm</p>
                        </div>
                        <div class="col-sm-4 ">
                            <p class="timetable-item">Get-together & Kick-off</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <div class="row">
        <div class="col-sm-6">
          <h2 style="padding-bottom: 40px"><span class="highlight">//</span> SATURDAY <span class="highlight">//</span>
            10/15/16</h2>

          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">9 am - 10 am</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Registration & Breakfast</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">10 am</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Welcome by organizers</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">10:15 am - 11 am</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Introduction of mentors and APIs. Building of teams.</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">11 am - 12:30 am</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Virtual Reality workshop</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">11 am</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Start hacking!</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">1 pm - 2 pm</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Lunch</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">7 pm - 8 pm</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Dinner</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">11 pm</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Midnight Snacks</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">Open end</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">You can stay overnight and hack along!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h2 style="padding-bottom: 40px"><span class="highlight">//</span> SUNDAY <span class="highlight">//</span>
            10/16/16</h2>

          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">9 am - 10 am</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Breakfast<br/></p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">1 pm - 2 pm</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Lunch</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">2:30 pm</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Finish hacking</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">2:30 pm - 3 pm</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Soundcheck</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">3 pm - 4 pm</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Presentation of projects</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <p class="time">4 pm</p>
              </div>
              <div class="col-sm-4">
                <p class="timetable-item">Awards & Closing</p>
              </div>
            </div>
          </div>
         <!--  <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <p class="time">6 pm - 8 pm</p>
              </div>
              <div class="col-sm-3">
                <p class="timetable-item">Drinks and celebration</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <a name="location"></a>
  <div id="location" class="container-fluid padding-top no-padding-bottom" style="background-color:#FD775B;color:white">
    <h1>LOCATION</h1>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h2 class="padding-bottom">Kick-off</h2>
            <h3>Native Instruments, Schlesische Straße 29-30, 10997 Berlin</h3>
            <div id="map-canvas" style="height: 500px" class="map"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <h2 class="padding-bottom">Hackathon</h2>
            <h3>Penthouse Unternehmerclub, Markgrafenstraße 14, 10969 Berlin</h3>
            <div id="map-canvas2" style="height: 500px" class="map"></div>
        </div>
    </div>
  </div>

  <script>
      function initMap() {
        var kickOff = {lat: 52.498691, lng: 13.446904};
        var hackathon = {lat: 52.505183, lng: 13.394997};
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
          center: kickOff,
          scrollwheel: false,
          zoom: 15,
          draggable: false
        });
        var marker = new google.maps.Marker({
            position: kickOff,
            map: map,
            title: 'Kick-off'
        });
        var map2 = new google.maps.Map(document.getElementById('map-canvas2'), {
          center: hackathon,
          scrollwheel: false,
          zoom: 15,
          draggable: false
        });
        var marker2 = new google.maps.Marker({
            position: hackathon,
            map: map2,
            title: 'Hackathon'
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpIu9bqbTSkk1ZWJdp_gauXswx3-jVj3E&callback=initMap"
    async defer></script>

<a name="team"></a>
<div id="team" class="padding-top-bottom" style="background-color:#4D4D4D;color:#FD775B">
    <div class="container">
        <h1>TEAM</h1>
        <div id="organizers">
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "ggcberlin.jpeg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Geek Girls Carrots Berlin</h2>

                        <p class="bio">Geek Girls Carrots Berlin is a Berlin chapter of the global organisation focused on connecting, learning and inspiring women in Tech and IT. We create community by organising meetings, workshops, and other events, which gather people to share their knowledge and experience. We bring together female admins, developers, designers, women with startup ideas, computer science students and many more. </p>
                    </div>
                </div>
            </div>
    </div>
    </div>

    <a name="sponsors"></a>
    <div id="sponsors" class="padding-top-bottom" style="background-color:white;color:#4D4D4D">
        <div class="container">
            <h1>SPONSORS & PARTNERS</h1>
            <div class="row">
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://www.axelspringer.de/en/">
                        <%= image_tag "axel.svg", size: "300x65" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="http://www.ey.com/">
                        <%= image_tag "EY.jpg", size: "180" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="http://go.sap.com/index.html">
                        <%= image_tag "sap.jpg" %>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://www.axelspringer.de/en/">
                        <%= image_tag "aseng.png", size: "330x65" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://www.zalando.de">
                        <%= image_tag "zalando_logo.png", size: "300x110" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="http://www.technology-ebay.de">
                        <%= image_tag "ebay.svg", size: "250x80"  %>
                    </a>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 col-xs-12 s-logo"">
                    <a href="http://www.glossybox.de/">
                        <%= image_tag "gb.png", size: "200x80"%>
                    </a>
                </div>

                <div class="col-md-3 col-xs-12 s-logo"">
                    <a href="https://www.thoughtworks.com">
                        <%= image_tag "tw.svg", size: "200x80"%>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 s-logo">
                    <a href="http://www.idealo.de/">
                        <%= image_tag "idealo.png", size: "170x50" %>
                    </a>
                </div>
                <div class="col-md-3 col-xs-12 s-logo"">
                    <a href="http://www.bild.de/">
                        <%= image_tag "bild.png", size: "80"%>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 s-logo">
                    <a href="https://www.native-instruments.com/de/">
                        <%= image_tag "ni.svg", size: "300x110"  %>
                    </a>
                </div>
            </div>
            <h2 class="padding-top">Partners:</h2>
            <div class="row padding-bottom-mini">
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="http://www.young-targets.com/">
                        <%= image_tag "target.png", size: "200x100" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                  <a href="http://datanatives.io/">
                  <%= image_tag "datanative.jpg", size: "100" %>
                  </a>
                </div>
              <div class="col-md-4 col-xs-12 s-logo">
                <a href="https://www.sociomantic.com/">
                  <%= image_tag "sociomantic.jpg", size: "250x70" %>
                </a>
              </div>
              </div>
              <div class="row padding-bottom-mini">
                <div class="col-md-6 col-xs-12 s-logo">
                  <a href="http://healthcare-startups.de/">
                    <%= image_tag "HSD_Logo_blue.png", size: "350x80"%>
                  </a>
                </div>
              <div class="col-md-6 col-xs-12 s-logo">
                <a href="https://challengerocket.com/">
                  <%= image_tag "CHALLENGEROCKET.png", size: "250x70"%>
                </a>
              </div>
            </div>
            <h2 class="padding-top-bottom-mini">If you are interested to be our sponsor, media partner or provide a public API with tutoring support, please send us an <a href="mailto:ggc.berlin@gmail.com"> email!</a></h2>
        </div>
    </div>
</div>

<a name="faq"></a>
<div id="faq" class="padding-top-bottom" style="background-color:#EEEEEE;color:#4D4D4D">
    <div class="container">
        <h1>FAQ</h1>
        <h3 class="question">What do I need to do to attend?</h3>
        <p class="answer">Please, register for the hackathon on Eventbrite. Since we want to make sure that those who register also show up, we kindly ask you for a deposit of 10€ via Eventbrite. The full amount will be transfered back to you on Saturday!
        </p>
        <h3 class="question">What if I don’t have an idea or a team?</h3>
        <p class="answer">You shouldn’t be concerned about the lack of an idea or a team. We are organising a kick-off meeting 1 day before the Hackathon. During the meeting you will be able to find out more about the projects, form a team of your own or join an existing one. You will also have a chance to chat with the members of the closed Facebook group that was created for the Hackathon.
        </p>
        <h3 class="question">Can non-developers also join the event?</h3>
        <p class="answer">Sure! We welcome various professions, like designers, product managers, marketing managers, data scientists, etc.  </p>
        <h3 class="question">What kind of hackers are you looking for?</h3>
        <p class="answer">We are looking for all kind of IT creative and innovative people: software, hardware, mobile, web with any coding language. We search for friendly and enthusiastic people with a global perspective.
        </p>
        <h3 class="question">How much experience do I need?</h3>
        <p class="answer">Anyone is free to apply, but we focus mostly on people with some technical experience. The applicants will be evaluated fairly and with the use of multiple filters.
        </p>
        <h3 class="question">What is the official language of the Hackathon?</h3>
        <p class="answer">The official language of our event is English. Of course, you can also communicate in German but you should keep in mind the non-German speakers. Let’s make sure that no one feels left out.
        </p>
        <h3 class="question">What do I need to take with me?</h3>
        <p class="answer">First of all, try to come as well-rested as possible. You will need a clear mind and fresh ideas. Other than this, all you have to bring along is your laptop and a charger. We will take care of the rest.
        </p>
        <h3 class="question">Will I get to know the API and other participants before the event starts?</h3>
        <p class="answer">Yes, we will organise a kick-off meeting on Friday, one day before the event starts. This way all the participants will get to know each other. The API will be presented by mentors from each companies during venue.  </p>
        <h3 class="question">Are there any prizes?</h3>
        <p class="answer">“Hack like a girl” is all about diversity, collaboration, meeting new friends and exchanging experience rather than about competition. Thus, prizes are not the focus, just a bonus. We will provide more detail on the sponsored prizes in the near future.</p>
        <h3 class="question">If you want to encourage more women to work in IT, why is it not a women-only hackathon?</h3>
        <p class="answer">We want to support women to be more present in the IT world. For that we want to encourage women to take on more jobs in IT and to encourage men who work beside them to be more supportive of that. In our opinion envolving men in this process is just as important as encouraging women!</p>
        <h3 class="question">Is there a code of conduct for the hackathon?</h3>
        <p class="answer">Sure, we want to ensure that everyone's opinion and work is respeted. All attendees, sponsors and mentors at the hackathon are required to agree with the following code of conduct. We are expecting cooperation from all participants to help ensuring a safe environment for everybody. Our hackathon is dedicated to providing a harassment-free experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form. Sexual language and imagery is not appropriate for any parts of our events, including talks, workshops, Twitter and other online media. Attendees violating these rules may be sanctioned or expelled from this hackathon and/or any future meetups at the discretion of the organisers.</p>
    </div>
</div>

<a name="contact"></a>
<div id="contact" class="contact" style="background-color:#4D4D4D;color:#FD775B">
    <div class="container">
        <h1 class="contact">CONTACT US</h1>
        <p class="contact"> If you have any questions, please, write us!</p>
        <p class="middle-padding-bottom button">
            <a class="btn btn-default btn-lg btn-sharp" href="mailto:ggc.berlin@gmail.com"  target="_blank" role="button">Send a message</a>
        </p>
    </div>
</div>
<div class='footer'>
    <div class='container-fluid padding-top-bottom-mini' style="background-color:#FD775B;color:#4D4D4D">
        <!-- <p class="footer">
        <div class="row">
            <div class="col-sm-4 col-xs-12 ">
                <a href="http://www.meetup.com/de/Geek-Girls-Carrots-Berlin/events/225441168/"> Meetup page</a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="http://geekgirlscarrots.org/"> http://geekgirlscarrots.org/</a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="https://www.facebook.com/ggc.berlin?ref=hl"> Facebook</a>
            </div>
        </div>
        </p> -->
        <h3>Copyright © Geek Girls Carrots Berlin 2016</h3>
    </div>
</div>
