<div id="max-width-container">
    <nav class="navbar navbar-custom navbar-default navbar-fixed-top" id="navbar-example">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin-left: 0px margin-right: 0px">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><%= image_tag "ggc.png", size: "55x60" %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#event" class="page-scroll">EVENT</a></li>
                    <li><a href="#apis" class="page-scroll">APIS</a></li>
                    <li><a href="#schedule" class="page-scroll">SCHEDULE</a></li>
                    <li><a href="#location" class="page-scroll">LOCATION</a></li>
                    <li><a href="#team" class="page-scroll">TEAM</a></li>
                    <li><a href="#sponsors" class="page-scroll">SPONSORS</a></li>
                    <li><a href="#faq" class="page-scroll">FAQ</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".page-scroll").click(function(event) {
          event.preventDefault();
          $('html,body').animate( { scrollTop:$(this.hash).offset().top } , 1000);
        } );
      } );

      jQuery(document).ready(function($) {
        $('.navbar-collapse').click('li', function() {
          $('.navbar-collapse').collapse('hide');
        });
      } );
    </script>

<div id="welcome" class="padding-top-bottom" style="background-color:#4D4D4D;color:#FD775B ">
    <div class="container">

        <%= image_tag "hack_like_a_Girl_final.svg" %>

        <h2 class="padding-top middle-padding-bottom">Hackathon: Diversity in tech</h2>

        <h1 class="no-padding-bottom middle-padding-bottom">16 - 18 October 2015</h1>

        <p class="middle-padding-bottom no-margin button">
            <a class="btn btn-default btn-lg btn-sharp" target="_blank" href="http://www.eventbrite.de/e/hack-like-a-girl-hackathon-tickets-18915336280" role="button">Register now!</a>
        </p>
        <a href="https://www.facebook.com/events/1500107720286921/" target="_blank">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook-f fa-stack-1x"></i>
          </span>
        </a>
        <a href="https://twitter.com/search?q=%23hacklikeagirl&src=typd" target="_blank">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
    </div>
</div>

<a name="event"></a>
<div id="event" class="padding-top-bottom" style="background-color:#FD775B;color:white">
    <div class="container">
        <h1>EVENT</h1>
        <div class="row">
            <div class="col-sm-4 col-xs-12 padding-bottom-mini event">
                <h2>Topic</h2>

                <p>The theme of the hackathon is “diversity in tech”. We want to attract more women to the IT industry and make sure they feel comfortable and their ideas and skills are appreciated. That's why we welcome women and men who support this idea to collaborate during one weekend. You can work on your own ideas or help realize ideas of your team mates! Our sponsors will provide APIs, so you will have great data to build your products on. Our mentors will help you if you get stuck and show how to work with the APIS. Judges will give valuable feedback for all teams on Sunday.
                </p>
            </div>
            <div class="col-sm-4 col-xs-12 padding-bottom-mini event">
                <h2>Application</h2>

                <p>You want to take part? Awesome!
                    Start by clicking on the “Register Now” button below and filling out the application form.
                    It will be reviewed by the Geek Girls Carrots team to make sure we have a perfect mix of expertise areas and levels. We welcome idea masterminds, developers, designers, data scientists and marketers, beginners and experts.
                    After a successful review, you will receive an email from us asking you to make the final reservation via Eventbrite.
                    The amount of participants is limited to 50 people, so hurry up to get your spot! </p>
            </div>
            <div class="col-sm-4 col-xs-12 padding-bottom-mini event">
                <h2>Prizes</h2>

                <ul>
                    <li class="prizes">1st prize: Smartwatch Sony SWR50 Silver
                    <p class="prizes"><%= image_tag "watch.jpg", size: "100" %></p>
                    </li>
                    <li class="prizes">2nd prize: Jawbone UP move
                    <p class="prizes"><%= image_tag "jawbone.jpg", size: "100" %></p>
                    </li>
                    <li class="prizes">Special prize from Glossy Box: 6 months subscription
                    <p class="prizes"><%= image_tag "box.jpg", size: "100" %></p></li>
                </ul>
            </div>
        </div>

        <p class="no-margin button">
            <a class="btn btn-default btn-lg btn-sharp-event" target="_blank" href="http://www.eventbrite.de/e/hack-like-a-girl-hackathon-tickets-18915336280" role="button">Register now!</a>
        </p>
    </div>
</div>

<a name="apis"></a>
    <div id="apis" class="padding-top-bottom" style="background-color:#EEEEEE;color:#4D4D4D">
        <div class="container">
            <h1>APIS</h1>
            <div class="row">
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://developers.soundcloud.com/docs/api/guide">
                        <%= image_tag "SoundCloud_LogoPack_Dec2013/digital/gradient/sc_st_gradient_240x140.png", size: "200x100" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <%= image_tag "AdSquare.png", size: "200x50" %>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://developer.here.com/">
                        <%= image_tag "here_logo_800x800.jpg", size: "100x100" %>
                    </a>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12 s-logo">
                    <%= image_tag "smartb.svg", size: "200x50" %>
                </div>
                <div class="col-md-6 col-xs-12 s-logo">
                    <a href="https://docs.adjust.com/en/kpi-service/">
                        <%= image_tag "adjust.png", size: "200x60" %>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<a name="schedule"></a>
<div id="schedule" class="padding-top-bottom">
    <div class="container">
        <h1 style="color: #FD775B">SCHEDULE</h1>
        <div class="row">
            <div class="col-sm-12">
                <h2 style="padding-bottom: 40px"><span class="highlight">//</span> FRIDAY <span class="highlight">//</span>
                    10/16/15</h2>

                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3">
                            <p class="time">7 pm - 10 pm</p>
                        </div>
                        <div class="col-sm-3 ">
                            <p class="kick-off">Kick-off meeting for pitching ideas and building of teams.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-3 col-sm-offset-3">
                            <p class="address">
                            Address: moveBOX, Axel-Springer-Passage, Markgrafenstraße 19A, 10969 Berlin</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2 style="padding-bottom: 40px"><span class="highlight">//</span> SATURDAY <span class="highlight">//</span>
                    10/17/15</h2>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">9 am - 10 am</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Registration & Breakfast</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">10 am - 10:15 am</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Welcome by organizers</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">10:15 am - 11 am</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Presentation of APIs</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">11 am</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Start hacking!</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">1:30 pm - 2:30 pm</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Lunch</p>
                        </div>
                    </div>
                </div>                
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">6 pm - 7 pm</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Dinner</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">10:00 pm</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Finish hacking</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h2 style="padding-bottom: 40px"><span class="highlight">//</span> SUNDAY <span class="highlight">//</span>
                    10/18/15</h2>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">9 am - 10 am</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Breakfast<br/></p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">1:30 pm</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Finish hacking</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">1:30 pm - 2:30 pm</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Lunch</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">3 pm - 4:30 pm</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Presentation of projects</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">5 pm - 6 pm</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Prizes & Feedback by judges</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="time">6 pm - 8 pm</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="timetable-item">Drinks and celebration</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a name="location"></a>
<div id="location" class="padding-top no-padding-bottom" style="background-color:#FD775B;color:white">
    <div class="container">
        <h1 class="no-padding-bottom">LOCATION</h1>

        <h2 class="padding-top-bottom">HERE, Invalidenstr. 116, 10115 Berlin</h2>

        <div id="map" style="width: 100%; height: 500px" />

    </div>
</div>

<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->


<script type="text/javascript" charset="UTF-8">

/**
 * Moves the map to display over Berlin
 *
 * @param  {H.Map} map      A HERE Map instance within the application
 */
function moveMapToBerlin(map){
  map.setCenter({lat:52.530935, lng:13.384933});
  map.setZoom(16);
}

/**
 * Adds markers to the map highlighting the locations of the captials of
 * France, Italy, Germany, Spain and the United Kingdom.
 *
 * @param  {H.Map} map      A HERE Map instance within the application
 */
function addMarkersToMap(map) {
  var here = new H.map.Marker({lat:52.530935, lng:13.384933});
  map.addObject(here);
}

    /**
 * Boilerplate map initialization code starts below:
 */

//Step 1: initialize communication with the platform
var platform = new H.service.Platform({
  app_id: 'nc0keaZnVJL3Oq7493OY',
  app_code: 'rPIMT_tyyuzvLQCFruoyZg',
  useCIT: true,
  useHTTPS: true
});
var defaultLayers = platform.createDefaultLayers();

//Step 2: initialize a map  - not specificing a location will give a whole world view.
var map = new H.Map(document.getElementById('map'),
  defaultLayers.normal.map);

// Create the default UI components
var ui = H.ui.UI.createDefault(map, defaultLayers);

moveMapToBerlin(map);

addMarkersToMap(map);

</script>

<div  class="padding-top-bottom">
    <h2>Please, note that kick-off event will be at another location: moveBOX, Axel-Springer-Passage, Markgrafenstraße 19A, 10969 Berlin.</h2>
</div>

<a name="team"></a>
<div id="team" class="padding-top-bottom" style="background-color:#4D4D4D;color:#FD775B">
    <div class="container">
        <h1>TEAM</h1>

        <ul class="nav nav-pills padding-bottom">
            <li class="active"><a href="#judges" data-toggle="tab">JUDGES</a></li>
            <li><a href="#mentors" data-toggle="tab">MENTORS</a></li>
            <li><a href="#organizers" data-toggle="tab">ORGANIZERS</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="judges">
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "Ronny-Rentner.jpg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Ronny Renter</h2>

                        <p class="bio">Ronny was working for more than 12 years in the area of web
                            development and eCommerce. As a software
                            engineer and consultant he was involved in large scale CMS projects for companies like Bayer Schering Pharma
                            and Gruner + Jahr. During the last years he gained lots of experience with fast moving, agile processes by
                            leading eCommerce projects based on Magento, Symfony and Zend as well as taking over the CTO role for
                            different technology startups. In past 4 years he is attached to Rocket Internet - the World's Largest
                            Internet Platform Outside the United States and China in position of SVP Engineering.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "lisa.jpeg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Lisa Lang</h2>

                        <p class="bio">With a name that sounds ripped from a Marvel comic book, Lisa Lang
                            delivers a personality to match - and she has a superpower: Lisa brings people together to create new,
                            innovative, and beautiful products.
                            Lisa was raised in a Franconian craftsman family, studied Arts, New Media as well as international business
                            management and lived and worked all around the word. In the almost ten years of her career in the IT
                            industry, she’s gained a reputation as a digital information technology and new media game changer. Now Lisa
                            is blending all her experiences with her agency for bespoke wearables technologies, ELEKTROCOUTURE.com, and
                            has been named one of the top 100 most influential people in wearable tech worldwide.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "koch2.png", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Stefanie Koch</h2>

                        <p class="bio">Stefanie Koch is a project and product manager shaping hardware products and overseeing their production. She started her career as user interface and user experience designer, worked as freelancer and consultant for startups, and as research associate and lecturer at several universities in the field of human computer interaction, information design and design theory. She’s a founder of the Electronics and Textile Institute Berlin and passionate about hardware and the possibilities to enhance our physical, tangible world with software. She frequently mentors hardware startups, helping them to manage the journey from prototype stage into production. Currently she's working with LOCK8 (http://lock8.me) to bring the first connected bike lock into the market and disrupt bicycle sharing. LOCK8 is a smart bicycle tracking and locking device, and bike-sharing platform.  
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "corrion.jpg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Anne-Gaelle Yashar Corrion</h2>

                        <p class="bio">Anne-Gaelle Yashar Corrion is an expert in location-based services and is currently working as Director of Product Management in the HERE Product Office. She is a respected leader with excellent conceptual thinking and problem solving skills. Her focus and passion when creating products lies on design excellence, usability & consumer appeal. Previously she has been working for Orange as Strategic Marketing Manager and Director for Public Transit at HERE.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="mentors">
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "bastian.jpg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Bastian Gruber</h2>

                        <p class="bio">Bastian has worked in the IT business for over 8 years now. He works in smartb as a front end developer and will present their API and show how to use it for great visualizations of energy use!  He likes to build data driven applications and maintanse them. Languages: JavaScript, Python.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "erik.jpg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Erik Michaels-Ober</h2>

                        <p class="bio">Erik Michaels-Ober is an American programmer, living in Berlin and working at SoundCloud. His favorite programming languages are named after gemstones: Crystal, Ruby, and Perl. Languages: Ruby.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "florentina.png", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Florentina Arsinte</h2>

                        <p class="bio">Florentina is a software engineer with more than 8 years of experience on web and mobile programming. Over the past few years she worked on webOS, Windows Phone and Android projects. Now she is a lead software engineer at HERE in Berlin and is part of the team building HERE Maps for Android.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "sebastian.jpg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Sebastian Glöckner</h2>

                        <p class="bio">Sebastian works for Glossybox as Senior Vice President Product & Technology. He loves to work on a product that creates joy and excitement with it's subscribers every month. He can can program and compile a Linux from scratch and has studied business administration at the University of Cologne and WHU - Otto Beisheim School of Management with a marketing focus. Languages: PHP, MySQL, HTML, Perl, Bash.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "christian.jpg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Christian Stefanescu</h2>

                        <p class="bio">Chris is a software developer working on APIs and distributed services at Native Instruments. He is mostly interested in Python, Goand Elixir and focused on writing and deploying efficient, scalable backends with extra care given to clean and maintainable code as well as code style. When he's away from a keyboard, he devotes time to photography and cycling. Languages: Python, Go, Java, Javascript/HTML/CSS. Bash scripting, Linux knowledge, Vagrant, Ansible, Fabric, Salt.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "ggc.png", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Arnardottir Steinunn</h2>

                        <p class="bio">Steinunn Arnardottir is an Icelandic audio DSP developer based in Berlin where she works for Native Instruments. As a part of the research DSP team, she has worked on audio effects for most of NI's current products, including Maschine, Traktor and Kontakt. Languages: DSP, Audio Processing, Audio Effects. C/C++, Matlab, Reatktor, Pd.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "milica.jpg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Milica Kadic</h2>

                        <p class="bio">Hi hackers, I am Milica, front-end developer at adjust. I am passionate about building complex interfaces using newest front-end technologies, especially AngularJS. Previously, I have worked as a full-stack developer. Languages: AngularJS, BackboneJS, EmberJS, ExtJS, Node.js, ZendFramework 1/2, MongoDB, Mongoose, MySql, CSS3, HTML5, Cordova, WebSQL, IndexedDB
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "ugi.jpg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Uglješa Erceg</h2>

                        <p class="bio">Hi everybody, I am Ugi, software developer at adjust. I am developing adjust SDK for diferent mobile platforms and development frameworks. Before that, I have worked as mobile apps developer and I also have some programming backround in embedded programming. Languages: C/C++, C#, Objective-C, Java.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="organizers">
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "ggcberlin.jpeg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Geek Girls Carrots Berlin</h2>

                        <p class="bio">Geek Girls Carrots Berlin is a Berlin chapter of the global organisation focused on connecting, learning and inspiring women in Tech and IT. We create community by organising meetings, workshops, and other events, which gather people to share their knowledge and experience. We bring together female admins, developers, designers, women with startup ideas, computer science students and many more. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 padding-bottom-mini">
                        <%= image_tag "wiebke.jpg", size: "200", class: "img-circle" %>
                    </div>
                    <div class="col-sm-8">
                        <h2 class="name">Wiebke Hurrelmann</h2>

                        <p class="bio">Wiebke is a program manager in the HERE Product Office with more than 10 years of experience in the mobile industry. In the past she took on different roles, acting as Scrum Master and Product Owner building location based products for platforms ranging from mobile HTML and S40 to Android. Her specialties are sensing and orchestrating needs of customers and teams to create the perfect user experience and to uncover the 20% of stuff that make up 80% of the impact.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <a name="sponsors"></a>
    <div id="sponsors" class="padding-top-bottom" style="background-color:#EEEEEE;color:#4D4D4D">
        <div class="container">
            <h1>SPONSORS & PARTNERS</h1>
            <div class="row">
                <!-- <h2>Gold:</h2> -->
                <div class="col-md-6 col-xs-12 s-logo">
                    <a href="https://www.axelspringer.de/en/">
                        <%= image_tag "axel.svg", size: "300x65" %>
                    </a>
                </div>
                <div class="col-md-6 col-xs-12 s-logo">
                    <a href="https://www.glossybox.com/">
                        <%= image_tag "glossy.svg", size: "300x55" %>
                    </a>
                </div>     
            </div>
            <div class="row">
                <!-- <h2>Silver:</h2> -->
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://www.native-instruments.com/de/">
                        <%= image_tag "native.png", size: "300x65" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://www.rocket-internet.com/">
                        <%= image_tag "Rocket_Internet_Logo_Pack/logo-RGB.png", size: "300x65" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://www.adsquare.com">
                        <%= image_tag "AdSquare.png", size: "200x50" %>
                    </a>
                </div>
            </div>
            <div class="row">
                <!-- <h2>Bronze:</h2> -->
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="www.here.com">
                        <%= image_tag "here_logo_800x800.jpg", size: "100x100" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://soundcloud.com/">
                        <%= image_tag "SoundCloud_LogoPack_Dec2013/digital/gradient/sc_st_gradient_240x140.png", size: "200x100" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="https://www.adjust.com">
                        <%= image_tag "adjust.png", size: "200x60" %>
                    </a>
                </div> 
            </div>
            <div class="row">            
                <div class="col-md-12 col-xs-12 s-logo">
                    <a href="http://www.ewmd.org/">
                        <%= image_tag "ewmd-logo.jpg", size: "100x70" %>
                    </a>
                </div> 
            </div>
            <h2 class="padding-top">Partners:</h2>
            <div class="row padding-bottom-mini">
                <div class="col-md-4 col-xs-12 s-logo">
                    <a href="http://www.young-targets.com/">
                        <%= image_tag "target.png", size: "200x100" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo"">
                    <a href="http://www.bild.de/">
                        <%= image_tag "bild.png" %>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12 s-logo"">
                    <a href="http://www.gruenderszene.de/jobboerse/?ref=jobboerse_gsbanner_Geekgirl">
                        <%= image_tag "gruenderszene2.png", size: "100x100" %>
                    </a>
                </div>
            </div>
            <div class="row padding-bottom-mini">
                <div class="col-md-12 col-xs-12 s-logo">
                    <a href="http://careerfoundry.com/">
                        <%= image_tag "foundry.png", size: "200x100" %>
                    </a>
                </div>
            </div>
            <h2 class="padding-top-bottom-mini">If you are interested to be our sponsor, please send us an <a href="mailto:ggc.berlin@gmail.com"> email!</a></h2>
        </div>
    </div>
</div>

<a name="faq"></a>
<div id="faq" class="padding-top-bottom" style="color:#4D4D4D">
    <div class="container">
        <h1>FAQ</h1>
        <h3 class="question">What do I need to do to attend?</h3>
        <p class="answer">Please, register for the hackathon on Eventbrite. Since we want to make sure that those who register also show up, we kindly ask you for a deposit of 10€ via Eventbrite. The full amount will be transfered back to you on Saturday!
        </p>
        <h3 class="question">What if I don’t have an idea or a team?</h3>
        <p class="answer">You shouldn’t be concerned about the lack of an idea or a team. We are organising a kick-off meeting 1 day before the Hackathon. During the meeting you will be able to find out more about the projects, form a team of your own or join an existing one. You will also have a chance to chat with the members of the closed Facebook group that was created for the Hackathon.
        </p>
        <h3 class="question">Can non-developers also join the event?</h3>
        <p class="answer">Sure! We welcome various professions, like designers, product managers, marketing managers, data scientists, etc.  </p>
        <h3 class="question">What kind of hackers are you looking for?</h3>
        <p class="answer">We are looking for all kind of IT creative and innovative people: software, hardware, mobile, web with any coding language. We search for friendly and enthusiastic people with a global perspective.
        </p>
        <h3 class="question">How much experience do I need?</h3>
        <p class="answer">Anyone is free to apply, but we focus mostly on people with some technical experience. The applicants will be evaluated fairly and with the use of multiple filters.
        </p>
        <h3 class="question">What is the official language of the Hackathon?</h3>
        <p class="answer">The official language of our event is English. Of course, you can also communicate in German but you should keep in mind the non-German speakers. Let’s make sure that no one feels left out.
        </p>
        <h3 class="question">What topic or problem can I chose for my Hackathon project?</h3>
        <p class="answer">You will have the opportunity to work with APIs of various companies, including:
            Soundcloud, Nokia, smartB, adsquare. The topic of your project can be related to location, music, energy efficiency, but you are also free to chose whatever topic is interesting for you.
        </p>
        <h3 class="question">What do I need to take with me?</h3>
        <p class="answer">First of all, try to come as well-rested as possible. You will need a clear mind and fresh ideas. Other than this, all you have to bring along is your laptop and a charger. We will take care of the rest.
        </p>
        <h3 class="question">Will I get to know the API and other participants before the event starts?</h3>
        <p class="answer">Yes, we will organise a kick-off meeting on Friday, one day before the event starts. This way all the participants will get to know each other. The API will be presented by mentors from each companies during venue.  </p>
        <h3 class="question">Are there any prizes?</h3>
        <p class="answer">“Hack like a girl” is all about diversity, collaboration, meeting new friends and exchanging experience rather than about competition. Thus, prizes are not the focus, just a bonus. We will provide more detail on the sponsored prizes in the near future.</p>
        <h3 class="question">If you want to encourage more women to work in IT, why is it not a women-only hackathon?</h3>
        <p class="answer">We want to support women to be more present in the IT world. For that we want to encourage women to take on more jobs in IT and to encourage men who work beside them to be more supportive of that. In our opinion envolving men in this process is just as important as encouraging women!</p>
        <h3 class="question">Is there a code of conduct for the hackathon?</h3>
        <p class="answer">Sure, we want to ensure that everyone's opinion and work is respeted. All attendees, sponsors and mentors at the hackathon are required to agree with the following code of conduct. We are expecting cooperation from all participants to help ensuring a safe environment for everybody. Our hackathon is dedicated to providing a harassment-free experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form. Sexual language and imagery is not appropriate for any parts of our events, including talks, workshops, Twitter and other online media. Attendees violating these rules may be sanctioned or expelled from this hackathon and/or any future meetups at the discretion of the organisers.</p>
    </div>
</div>

<div id="contact" class="contact" style="background-color:#4D4D4D;color:#FD775B">
    <div class="container">
        <h1 class="contact">CONTACT US</h1>
        <p class="contact"> If you have any questions, please, write us!</p> 
        <p class="middle-padding-bottom button">
            <a class="btn btn-default btn-lg btn-sharp" href="mailto:ggc.berlin@gmail.com"  target="_blank" role="button">Send a message</a>
        </p>
    </div>
</div>
<div class='footer'>
    <div class='container-fluid padding-top-bottom-mini' style="background-color:#FD775B;color:#4D4D4D">
        <!-- <p class="footer">
        <div class="row">
            <div class="col-sm-4 col-xs-12 ">
                <a href="http://www.meetup.com/de/Geek-Girls-Carrots-Berlin/events/225441168/"> Meetup page</a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="http://geekgirlscarrots.org/"> http://geekgirlscarrots.org/</a>
            </div>
            <div class="col-sm-4 col-xs-12">
                <a href="https://www.facebook.com/ggc.berlin?ref=hl"> Facebook</a>
            </div>
        </div>
        </p> -->
        <h3>Copyright © Geek Girls Carrots Berlin 2015</h3>
    </div>
</div>
