<nav class="navbar navbar-custom navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://gocarrots.org/"><%= image_tag "ggc-link.png", size: "146x55" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#welcome" class="page-scroll">HOME</a></li>
        <li><a href="#event" class="page-scroll">ABOUT</a></li>
        <!-- <li><a href="#why" class="page-scroll">WHY</a></li> -->
        <!-- <li><a href="#team" class="page-scroll">MENTORS</a></li> -->
        <li><a href="#sponsors" class="page-scroll">SPONSORS</a></li>
        <!-- <li><a href="#jury" class="page-scroll">JURY</a></li> -->
        <li><a href="#schedule" class="page-scroll">SCHEDULE</a></li>
        <li><a href="#who" class="page-scroll">ORGANIZERS</a></li>
        <li><a href="#faq" class="page-scroll">FAQ</a></li>
        <li><a href="#contact" class="page-scroll">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="welcome" class="padding-top-bottom-mini" style="color:#fff">
  <div class="container">

    <%= image_tag "sticker-white.png" %>

    <h1 class="padding-top middle-padding-bottom">Thanks for an amazing FinTech <span style="color:#ff4e00"> & </span> Blockchain Hackathon 2018</h1>

    <h2 class="no-padding-bottom" style="color:#ff4e00">Get ready for the HLAG</h2>
    <h2 class="no-padding-bottom" style="color:#ff4e00">11-13 October 2019</h2>

    <h4 class="middle-padding-bottom" style="color:#ff4e00"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Berlin</h4>

    <p class="middle-padding-bottom no-margin button">
      <a class="btn btn-default btn-lg btn-sharp" target="_blank" href="#" role="button"> Registration soon </a>
    </p>
    <a href="https://www.facebook.com/ggcarrots.germany/" target="_blank" style="color:#fff">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook-f fa-stack-1x"></i>
          </span>
    </a>
    <!-- <a href="https://twitter.com/ggCarrotsBerlin">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
    </a> -->
    <a href="https://www.meetup.com/Geek-Girls-Carrots-Berlin/" style="color:#fff">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-meetup fa-stack-1x"></i>
          </span>
    </a>
  </div>
</div>

<a name="event"></a>
<div id="event" class="padding-top" style="background-color:#fff">
  <h1 style="color: #ff4e00">LET'S HACK !</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <p class="text-weight">Get hands-on at the annual Geek Girls Carrots two-day Hackathon for developers, graphic designers, programmers, application architects, social media specialists, system architects, and women with startup ideas.</p>
        <p>We want to engage the participants in creating  solutions – made by women – by competing in many different challenges provided by our partners and participants themselves. At the end of the "Hack like a Girl" hackathon, created results and prototypes will be rewarded and introduced to all conference attendees.</p>
      </div>
    </div>
  </div>
</div>
<div class="padding-bottom">
  <ul class="nav nav-pills padding-top-bottom-mid video">
      <li class="active"><a href="#v2018" data-toggle="tab">2018</a></li>
      <li><a href="#v2017" data-toggle="tab">2017</a></li>
      <li><a href="#v2016" data-toggle="tab">2016</a></li>
      <li><a href="#v2015" data-toggle="tab">2015</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="v2018">
        <div class="row">
          <div class="video-container">
            <iframe width="720" height="405" src="https://www.youtube.com/embed/NSMENfKQ6Tg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v2017">
        <div class="row">
          <div class="video-container">
            <iframe width="720" height="405" src="https://www.youtube.com/embed/eHVNFuZBSus?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v2016">
        <div class="row">
          <div class="video-container">
            <iframe width="720" height="405" src="https://www.youtube.com/embed/jor5GUj4cGI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v2015">
        <div class="row">
          <div class="video-container">
            <iframe width="720" height="405" src="https://www.youtube.com/embed/l-xmbvgRQ1Q?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
</div>

<a name="why"></a>
<div id="why" class="img-bg padding-top-bottom" style="background-color: none ;color:#fff;">
  <h1>WHY SHOULD YOU BE THERE?</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 style="color: #ff4e00"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></h2>
        <h2>HACK &amp; DEVELOP</h2>
        <p>You will spend this weekend by hacking and building a product together with your team and
        support of the mentors. Your projects should be built from scratch.</p>
      </div>
      <div class="col-sm-4">
        <h2 style="color: #ff4e00"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></h2>
        <h2>LEARN &amp; MEET</h2>
        <p>No matter your expertise, you will learn something new there. Attendees range from
        newbies to seniors. Participants and mentors are here to cooperate and enjoy hacking.</p>
      </div>
      <div class="col-sm-4">
        <h2 style="color: #ff4e00"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></h2>
        <h2>ENJOY &amp; RELAX</h2>
        <p>It is not work! There will be plenty of time to relax, enjoy some cool music and coffee with
        amazing people. We’ll be providing healthy and tasty meals and sport classes to keep your
        mind, body, soul balanced while coding.</p>
      </div>
    </div>
  </div>
</div>

<a name="challenges"></a>
<div id="challenges" class="padding-top-bottom" style="background-color:#EEEEEE;color:#4D4D4D">
  <h1>CHALLENGES</h1>
  <div class="container">
    <div class="row">
      LIST
    </div>
  </div>
</div><script type="text/javascript">$("div#challenges").hide();</script>

<a name="team"></a>
<div id="team" class="padding-top-bottom" style="background-color:#EEEEEE;color:#5a5a5a">
  <div class="container">
    <h1 class="padding-top-bottom-md" style="color: #ff4e00">MENTORS</h1>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "sap1.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Ricarda Bethge</h2>
        <h2 class="mentor-position">Software Engineer</h2>
        <h3>SAP</h3>
        <h6><a href="https://www.linkedin.com/in/ricarda-bethge-27285a150/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "sap2.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Derek (Kin-Shing) Chung</h2>
        <h2 class="mentor-position">Software Engineer</h2>
        <h3>SAP</h3>
        <h6><a href="https://de.linkedin.com/in/kin-shing-chung-091a56a3" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <!-- <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "sap3.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Dennis Kuhnert</h2>
        <h2 class="mentor-position">Software Engineer</h2>
        <h3>SAP</h3>
        <h6><a href="https://www.linkedin.com/in/dennis-kuhnert/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div> -->
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "sap5.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Sören Etler</h2>
        <h2 class="mentor-position">Software Engineer</h2>
        <h3>SAP</h3>
        <h6><a href="https://www.linkedin.com/in/s%C3%B6ren-etler-434a6ba7/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <!-- <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "sap4.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Dr. Arne Scherrer</h2>
        <h2 class="mentor-position">Software Engineer</h2>
        <h3>SAP</h3>
        <h6><a href="https://de.linkedin.com/in/arne-scherrer-589490136" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div> -->
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "lidl1.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Timo Appenzeller</h2>
        <h2 class="mentor-position">Software Developer</h2>
        <h3>Lidl Digital</h3>
        <h6><a href="https://de.linkedin.com/in/timo-appenzeller-07a0a7124" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "lidl2.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Manuel Muenster </h2>
        <h2 class="mentor-position">Consultant</h2>
        <h3>Lidl Digital</h3>
        <h6><a href="https://www.linkedin.com/in/manuel-m%FCnster-942121145/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "lidl3.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Arnault Picard</h2>
        <h2 class="mentor-position">Solution Architect</h2>
        <h3>Lidl Digital</h3>
        <h6><a href="https://www.linkedin.com/in/arnaultpicard/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a><a href="https://www.xing.com/profile/Arnault_Picard" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-xing fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "pro1.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Ricarda Bruck</h2>
        <h2 class="mentor-position">IT-Consultant</h2>
        <h3>proALPHA Consulting GmbH</h3>
        <h6><a href="https://www.xing.com/profile/Ricarda_Bruck/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-xing fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "pro2.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Nancy Ottenklinger</h2>
        <h2 class="mentor-position">IT-Consultant</h2>
        <h3>proALPHA Consulting GmbH</h3>
        <h6 class="hid"><a href="" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "vau2.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Thomas Kovacs</h2>
        <h2 class="mentor-position">Lead Developer</h2>
        <h3>Vaultoro</h3>
        <h6 class="hid"><a href="" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "vau1.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Philip Scigala</h2>
        <h2 class="mentor-position">CTO & Co-Founder</h2>
        <h3>Vaultoro</h3>
        <h6><a href="https://www.linkedin.com/in/philip-scigala-37b482a0/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "comd1.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Jana Koch</h2>
        <h2 class="mentor-position">Head of comdirect</h2>
        <h2 class="mentor-position">Start-up Garage</h2>
        <h3>comdirect</h3>
        <h6><a href="https://www.linkedin.com/in/msjanakoch/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a><a href="https://www.xing.com/profile/Jana_Koch17" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-xing fa-stack-1x"></i>
          </span>
        </a></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "zoi1.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Anna Suslova</h2>
        <h2 class="mentor-position">Service Design Analyst</h2>
        <h3>ZOI</h3>
        <h6><a href="https://www.linkedin.com/in/asuslova/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a><a href="https://www.xing.com/profile/Anna_Suslova " target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-xing fa-stack-1x"></i>
          </span>
        </a></h6>
        <h2 class="mentor-position hid">Anna</h2>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "fut1.png", size: "170", class: "img-circle" %>
        <h2 class="name">Nina Patkai</h2>
        <h2 class="mentor-position">Software Developer</h2>
        <h3>futurice</h3>
        <h6 class="hid">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-xing fa-stack-1x"></i>
          </span></h6>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 padding-top-bottom-mid">
        <%= image_tag "gno1.jpg", size: "170", class: "img-circle" %>
        <h2 class="name">Tobias Schubotz</h2>
        <h2 class="mentor-position">Product Manager</h2>
        <h3>Gnosis</h3>
        <h6><a href="https://www.linkedin.com/in/tschubotz/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
        <h2 class="mentor-position hid">Anna</h2>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">$("div#team").hide();</script>

<a name="sponsors"></a>
<div id="sponsors" class="padding-top-bottom" style="background-color:#fff;color:#4D4D4D">
  <div class="container">
    <h1 style="color: #ff4e00;">OUR SPONSORS in 2018</h1>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-xs-7 col-xs-offset-3 s-logo">
        <a href="https://icn.sap.com/home.html">
          <%= image_tag "sponsors/sap.png", class: 'img-responsive' %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 col-xs-5 col-xs-offset-1 s-logo">
        <a href="https://digital.lidl">
          <%= image_tag "sponsors/lidl.png", class: 'img-responsive gold-logo' %>
        </a>
      </div>
      <div class="col-sm-4 col-sm-offset-0 col-xs-5 s-logo">
        <a href="https://www.proalpha.com/de/">
          <%= image_tag "sponsors/proalpha.png", class: 'img-responsive gold-logo' %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2 col-xs-5 col-xs-offset-1 s-logo">
          <%= image_tag "sponsors/jobsensai.png", class: 'img-responsive' %>
      </div>
      <div class="col-sm-4 col-xs-5 s-logo">
        <a href="https://www.vaultoro.com/">
          <%= image_tag "sponsors/vaultoro.png", class: 'img-responsive silver-logo' %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1 col-xs-6 col-xs-offset-1 s-logo">
        <a href="https://www.finanz-heldinnen.de">
          <%= image_tag "sponsors/finanz.png", class: 'img-responsive' %>
        </a>
      </div>
      <div class="col-sm-2 col-sm-offset-1 col-xs-4 s-logo">
        <a href="https://www.futurice.com">
          <%= image_tag "sponsors/futurice.png", class: 'img-responsive' %>
        </a>
      </div>
      <div class="col-sm-2 col-sm-offset-1 col-xs-4 col-xs-offset-4 s-logo">
        <a href="https://www.zoi.de">
          <%= image_tag "sponsors/zoi.png", class: 'img-responsive' %>
        </a>
      </div>
    </div>
    <div class="padding-top">
      <h2 class="padding-top">Partners:</h2>
      <div class="row padding-bottom-mini">
        <div class="col-sm-3 col-sm-offset-1 col-xs-offset-1 col-xs-5 s-logo">
          <a href="https://berlin2018.codemotionworld.com/">
            <%= image_tag "partners/codemotion.png", class: 'img-responsive center-block' %>
          </a>
        </div>
        <div class="col-sm-4 col-sm-offset-0 col-xs-5 s-logo">
          <a href="https://cryptoticker.io/">
            <%= image_tag "partners/cryptoticker.png", class: 'img-responsive center-block' %>
          </a>
        </div>
        <div class="col-sm-3 col-sm-offset-0 col-xs-offset-3 col-xs-6 s-logo">
          <a href="https://www.young-targets.com/">
            <%= image_tag "partners/young.png", class: 'img-responsive center-block' %>
          </a>
        </div>
      </div>
      <h2 class="padding-top-bottom-mini">If you are interested to be our sponsor, media partner or provide a public API with tutoring support, please send us an <a href="mailto:berlin@gocarrots.org"> email!</a></h2>
    </div>
  </div>
</div>

<a name="jury"></a>
<div id="jury" class="padding-top-bottom" style="background-color:#EEEEEE;color:#5a5a5a">
  <div class="container">
    <h1 class="padding-top-bottom-md" style="color: #ff4e00">JURY</h1>
    <div class="padding-top-bottom row">
      <div class="col-sm-4 padding-bottom-mini">
        <%= image_tag "jury1.png", size: "200", class: "img-circle" %>
      </div>
      <div class="col-sm-8">
        <h2 class="jury-name name">Elizabeth Kimball</h2>
        <h6 class="text-left"><a href="http://www.elizabethannekimball.com/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-globe fa-stack-1x"></i>
          </span>
        </a> <a href="https://www.linkedin.com/in/elizabethkimball/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
        <div id="module">
        <p class="bio">Elizabeth helps founders make data-driven decisions about what to build and how to sell. She specializes in conducting unbiased customer research and using the resulting data to develop value propositions, marketing messages, and sales strategies.</p>
        <p class="bio collapse" id="Elizabeth" aria-expanded="false">She has coached a wide variety of entrepreneurs toward product/market fit as a consultant for the METRO Techstars Accelerator in Berlin and advises larger companies on intrapreneurship programs and new ventures.</p>
        <p class="bio"><a role="button" class="collapsed" data-toggle="collapse" href="#Elizabeth" aria-expanded="false" aria-controls="collapseExample"></a>
        </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 padding-bottom-mini">
        <%= image_tag "jury2.png", size: "200", class: "img-circle" %>
      </div>
      <div class="col-sm-8">
        <h2 class="jury-name name">Prof. Dr. Katharina Hölzle</h2>
        <h2 class="jury-position">Chair for Innovation Management & Entrepreneurship</h2>
        <h3 class="text-left">University of Potsdam</h3>
        <h6 class="text-left"><a href="https://www.uni-potsdam.de/en/ime/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-globe fa-stack-1x"></i>
          </span>
        </a> <a href="https://www.linkedin.com/in/katharinahoelzle/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
        <div id="module">
        <p class="bio">Prof. Dr. Katharina Hölzle, MBA is full-tenured Professor for Innovation Management and Entrepreneurship at the University of Potsdam. Before returning to university, she worked for several years in the semiconductor, consulting, and mechanical engineering industry. She has published various articles in the field of entrepreneurship, innovation, technology, and project management in leading scholarly and practitioners’ journals. </p>
        <div class="bio collapse" id="Katharina" aria-expanded="false">
          <p class="bio">She holds a Ph.D. from the Technical University of Berlin, a diploma in business engineering from the University of Karlsruhe (TH) and an MBA from the University of Georgia, Athens, Georgia.</p>
          <p class="bio">She teaches Entrepreneurship, Innovation and Technology management on a bachelor, master and executive level at national and international universities. Katharina is also a coach at the HPI School of Design Thinking since 2009 and member of the Design Thinking Research Program since 2014. Since 2015, she is Editor-in-Chief of the Creativity and Innovation Management (CIM) Journal. She is a visiting professor at the University of International Business and Economics (UIBE) in Bejing, and at the UTS Business School and Macquarie Graduate School of Management (MGSM) in Sydney.</p>
          <p class="bio">In her research fields, Katharina Hölzle looks into creativity and innovation in organizations, Design Thinking, digitalization, business model innovation, and strategic foresight. She consults and mentors young and established companies in the field of technology-driven business model innovation, digitalization, strategic technology, and innovation management.</p>
        </div>
        <p class="bio"><a role="button" class="collapsed" data-toggle="collapse" href="#Katharina" aria-expanded="false" aria-controls="collapseExample"></a>
        </p>
        </div>
      </div>
    </div>
    <div class="padding-top-bottom row">
      <div class="col-sm-4 padding-bottom-mini">
        <%= image_tag "jury3.png", size: "200", class: "img-circle" %>
      </div>
      <div class="col-sm-8">
        <h2 class="jury-name name">Ha Duong</h2>
        <h6 class="text-left"><a href="https://cambrial.com/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-globe fa-stack-1x"></i>
          </span>
        </a> <a href="https://www.linkedin.com/in/minhhaduong/" target="_blank" style="color:#5a5a5a">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a></h6>
        <div id="module">
        <p class="bio">Ha is a Principal at Cambrial Capital where he is building up a fund of funds focused exclusively on cryptoassets. Before that, he had various roles in venture capital and tech. Ha regularly contributes to the tech ecosystem as a Mentor at Techstars & Startup Weekend, Berlin.ai ambassador, and meetup facilitator.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">$("div#jury").hide();</script>

<a name="awards"></a>
<div id="awards" class="img-bg padding-top-bottom" style="background-color: #EEEEEE; color: #fff;">
  <h1 style="color: #fff">AWARDS</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4 padding-top-bottom-mini">
        <div class="award">
          <h2><i class="fa fa-trophy" aria-hidden="true"></i></h2>
          <h4><a href="https://dachfest.com/" target="_blank"><span class="carrot">DACHFest</span></a> Tickets</h4>
          <h4>&</h4>
          <h4>Invitation to Speakers' Dinner</h4>
        </div>
      </div>
      <div class="col-md-4 padding-top-bottom-mini">
        <div class="award">
          <h2><i class="fa fa-trophy" aria-hidden="true"></i></h2>
          <h4>Tech Conference</h4>
          <h4><a href="https://berlin2018.codemotionworld.com/" target="_blank"><span class="carrot">Codemotion</span></a> Tickets</h4>
        </div>
      </div>
      <div class="col-md-4 padding-top-bottom-mini">
        <div class="award">
          <h2><i class="fa fa-trophy" aria-hidden="true"></i></h2>
          <h4>Networking Dinner</h4>
          <h4>in Berlin with</h4>
          <h4>Frauke Hegemann</h4>
          <h5>- Chairman of the <a href="https://www.comdirect.de/cms/finanz-heldinnen/index.html" target="_blank"><span class="carrot">comdirect bank AG</span></a></h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1 padding-top-bottom-mini">
        <div class="award">
          <h2><i class="fa fa-trophy" aria-hidden="true"></i></h2>
          <h4>Business Model Development</h4>
          <h4>& Customer Validation Workshop</h4>
          <h4>at <a href="https://www.zoi.de/" target="_blank"><span class="carrot">ZOI</span></a></h4>
        </div>
      </div>
      <div class="col-md-5 padding-top-bottom-mini">
        <div class="award">
          <h2><i class="fa fa-trophy" aria-hidden="true"></i></h2>
          <h4>50 EURO worth of</h4>
          <h4>100% allocated gold</h4>
          <h4>in the <a href="https://www.vaultoro.com/" target="_blank"><span class="carrot">Vaultoro</span></a> account</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 padding-top-bottom-mini">
        <div class="award">
          <h2><i class="fa fa-trophy" aria-hidden="true"></i></h2>
          <h4>Raspberry PI</h4>
          <h4>from <a href="https://digital.lidl/" target="_blank"><span class="carrot">Lidl Digital</span></a></h4>
        </div>
      </div>
      <div class="col-md-4 padding-top-bottom-mini">
        <div class="award">
          <h2><i class="fa fa-trophy" aria-hidden="true"></i></h2>
          <h4>30 EUR Amazon vouchers</h4>
          <h4>from <a href="https://www.proalpha.com/de/" target="_blank"><span class="carrot">proALPHA</span></a></h4>
        </div>
      </div>
      <div class="col-md-4 padding-top-bottom-mini">
        <div class="award">
          <h2><i class="fa fa-trophy" aria-hidden="true"></i></h2>
          <h4><a href="https://dappcon.io/" target="_blank"><span class="carrot">DappCon</span></a> 2019</h4>
          <h4>conference tickets</h4>
          <h4>from <a href="https://gnosis.pm/" target="_blank"><span class="carrot">Gnosis</span></a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">$("div#awards").hide();</script>

<a name="schedule"></a>
<div id="schedule" class="container-fluid padding-top-bottom" style="background-color: #EEEEEE">
  <h1 style="color: #ff4e00">SCHEDULE</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-4 padding-top-mid">
        <h2 style="padding-bottom: 40px"><span class="highlight">//</span> FRIDAY <span class="highlight">//</span>
          10/11/19</h2>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">6 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Registration</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">6:30 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Welcome & Rules of HLAG</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">6:45 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Keynote</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">7:15 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Introducing Challenges, Mentors & APIs</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">7:45 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Team Building & Idea Generation</p>
            </div>
          </div>
      </div>
      <div class="col-md-4 padding-top-mid">
        <h2 style="padding-bottom: 40px"><span class="highlight">//</span> SATURDAY <span class="highlight">//</span>
          10/12/19</h2>

          <div class="row">
            <div class="col-xs-4">
              <p class="time">8:30 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Breakfast</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">9 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Welcome</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">9:30 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Start hacking!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">12:30 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Lunch</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">1:30 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Team Work</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">7 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Dinner & Music Event</p>
            </div>
          </div>
      </div>
      <div class="col-md-4 padding-top-mid">
        <h2 style="padding-bottom: 40px"><span class="highlight">//</span> SUNDAY <span class="highlight">//</span>
          10/13/19</h2>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">8:30 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Breakfast<br/></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">9 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Team Work<br/></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">11:00 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Sport Session<br/></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">12:30 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Lunch</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">1:00 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Finish hacking & Soundcheck</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">2 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Final Pitch</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">4:30 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Awards Ceremony & Get Together</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid padding-top-mid" style="padding-top: 70px;">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9709.63171316386!2d13.4034666!3d52.5260532!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5323b8fea05dc6ee!2sSAP+Berlin!5e0!3m2!1sen!2sde!4v1534879910202" width="100%" height="450" frameborder="0" style="border: solid 4px #ff4e00;" allowfullscreen></iframe>
        </div>
    </div>
  </div> -->
</div>

<a name="who"></a>
<div id="who" class="img-bg padding-top padding-top-bottom" style="color:#fff">
  <div class="container">
    <h1 class="contact" style="color:#ff4e00">WHO ARE WE?</h1>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="row padding-bottom-mid">
          <div class="col-md-2">
            <a href="http://gocarrots.org/"><%= image_tag "logo.png", size: "80", class: "img-circle" %></a>
          </div>
          <div class="col-md-10">
            <p class="org text-weight">Geek Girls Carrots Berlin is a chapter of the global organisation focused on connecting, learning and inspiring women in Tech and IT.</p>
          </div>
        </div>
        <p class="org"> We create community by organising meetings, workshops, and
        other events, which gather people to share their knowledge and experience. We bring together female
        admins, developers, designers, women with startup ideas, computer science students and many more.
        </p>
      </div>
    </div>
  </div>
</div>

<a name="faq"></a>
<div id="faq" class="padding-top-bottom" style="background-color:#EEEEEE;color:#4D4D4D">
  <div class="container">
    <h1 style="color: #ff4e00;">FAQ</h1>
    <h3 class="question">What do I need to do to attend?</h3>
    <p class="answer">Please, register for the hackathon on Eventbrite. Since we want to make
sure that those who register also show up, we kindly ask you for a deposit
of 10€ via Eventbrite. The full amount will be transferred back to you after
the Event.
    </p>
    <h3 class="question">What if I don’t have an idea or a team?</h3>
    <p class="answer">You shouldn’t be concerned about the lack of an idea or a team. We are organising a kick-off
meeting 1 day before the Hackathon. During the meeting, you will be able to find out more
about the projects, form a team of your own or join an existing one. You will also have a
chance to chat with the members of the closed Slack group that was created for the
Hackathon.
    </p>
    <h3 class="question">Can non-developers also join the event?</h3>
    <p class="answer">Sure! We welcome various professions, like designers, product managers, marketing managers, data
      scientists, etc. </p>
    <h3 class="question">What kind of hackers are you looking for?</h3>
    <p class="answer">We are looking for all kind of IT creative and innovative people: software, hardware, mobile, web
      with any coding language. We search for friendly and enthusiastic people with a global perspective.
    </p>
    <h3 class="question">How much experience do I need?</h3>
    <p class="answer">Anyone is free to apply, but we focus mostly on people with some technical experience. The
      applicants will be evaluated fairly and with the use of multiple filters.
    </p>
    <h3 class="question">What is the official language of the Hackathon?</h3>
    <p class="answer">The official language of our event is English. Of course, you can also communicate in German but
      you should keep in mind the non-German speakers. Let’s make sure that no one feels left out.
    </p>
    <h3 class="question">What do I need to take with me?</h3>
    <p class="answer">First of all, try to come as well-rested as possible. You will need a clear mind and fresh ideas.
      Other than this, all you have to bring along is your laptop and a charger. We will take care of the rest.
    </p>
    <h3 class="question">Will I get to know the API and other participants before the event starts?</h3>
    <p class="answer">Yes, we will organise a kick-off meeting on Friday, one day before the event starts. This way all
      the participants will get to know each other. The API will be presented by mentors from each companies during
      venue. </p>
    <h3 class="question">Are there any prizes?</h3>
    <p class="answer">“Hack like a girl” is all about diversity, collaboration, meeting new friends and exchanging
      experience rather than about competition. Thus, prizes are not the focus, just a bonus. We will provide more
      detail on the sponsored prizes in the near future.</p>
    <h3 class="question">If you want to encourage more women to work in IT, why is it not a women-only hackathon?</h3>
    <p class="answer">We want to support women to be more present in the IT world. For that we want to encourage women
      to take on more jobs in IT and to encourage men who work beside them to be more supportive of that. In our opinion
      envolving men in this process is just as important as encouraging women!</p>
    <h3 class="question">Is there a code of conduct for the hackathon?</h3>
    <p class="answer">Sure, we want to ensure that everyone's opinion and work is respeted. All attendees, sponsors and
      mentors at the hackathon are required to agree with the following code of conduct. We are expecting cooperation
      from all participants to help ensuring a safe environment for everybody. Our hackathon is dedicated to providing a
      harassment-free experience for everyone, regardless of gender, age, sexual orientation, disability, physical
      appearance, body size, race, or religion. We do not tolerate harassment of participants in any form. Sexual
      language and imagery is not appropriate for any parts of our events, including talks, workshops, Twitter and other
      online media. Attendees violating these rules may be sanctioned or expelled from this hackathon and/or any future
      meetups at the discretion of the organisers.</p>
    <h3 class="question">What happens with participants projects after Hackathon?</h3>
    <p class="answer">The intellectual property of participants is a highly sensitive issue. The ideas that emerge in the Hack like a Girl hackathon are the property of the participants and cannot be used by the sponsors without prior agreement. However, after consultation with the participants, it should be agreed that your company may use the ideas developed or develop them together with the participants.</p>
  </div>
</div>

<a name="contact"></a>
<div id="contact" class="img-bg" style="background-color:#EEEEEE;color:#fff">
  <div class="container">
    <h1 class="contact">CONTACT US</h1>
    <p class="contact"> If you have any questions, please, write us!</p>
    <p class="middle-padding-bottom button">
      <a class="btn btn-default btn-lg btn-sharp" href="mailto:berlin@gocarrots.org" target="_blank" role="button">Send
        a message</a>
    </p>
    <a href="https://www.facebook.com/ggcarrots.germany/" target="_blank" style="color: #fff">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook-f fa-stack-1x"></i>
          </span>
    </a>
    <!-- <a href="https://twitter.com/ggCarrotsBerlin">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
    </a> -->
    <a href="https://www.meetup.com/Geek-Girls-Carrots-Berlin/" style="color: #fff">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-meetup fa-stack-1x"></i>
          </span>
    </a>
  </div>
</div>

<div class='footer'>
  <div class='container-fluid padding-top-bottom-mid' style="background-color:#fff;color:#ff4e00">
    <h5>Copyright © Geek Girls Carrots Berlin 2018</h5>
  </div>
</div>
