<div id="max-width-container">
  <nav class="navbar navbar-custom navbar-default navbar-fixed-top" id="navbar-example">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header" style="margin-left: 0px margin-right: 0px">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://gocarrots.org/"><%= image_tag "logo-ggc.png", size: "55x55" %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#welcome" class="page-scroll">HOME</a></li>
          <li><a href="#event" class="page-scroll">ABOUT</a></li>
          <li><a href="#why" class="page-scroll">WHY</a></li>
          <!-- <li><a href="#team" class="page-scroll">TEAM</a></li> -->
          <li><a href="#sponsors" class="page-scroll">SPONSORS</a></li>
          <li><a href="#schedule" class="page-scroll">SCHEDULE</a></li>
          <li><a href="#faq" class="page-scroll">FAQ</a></li>
          <li><a href="#who" class="page-scroll">WHO</a></li>
          <li><a href="#contact" class="page-scroll">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="welcome" class="padding-top-bottom-mini" style="color:#ff4e00">
  <div class="container">

    <%= image_tag "sticker.png" %>

    <h1 class="padding-top middle-padding-bottom">FinTech & Blockchain Hackathon</h1>

    <h2 class="no-padding-bottom">5-7 October 2018</h2>
    <h2 class="middle-padding-bottom"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Berlin</h2>

    <p class="middle-padding-bottom no-margin button">
      <a class="btn btn-default btn-lg btn-sharp" target="_blank" href="https://www.eventbrite.com/e/hlag-fintech-blockchain-hackathon-tickets-44944101016?aff=ebdssbdestsearch" role="button">Register now!</a>
    </p>
    <a href="https://www.facebook.com/ggc.berlin/" target="_blank">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook-f fa-stack-1x"></i>
          </span>
    </a>
    <!-- <a href="https://twitter.com/ggCarrotsBerlin">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
    </a> -->
    <a href="https://www.meetup.com/Geek-Girls-Carrots-Berlin/">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-meetup fa-stack-1x"></i>
          </span>
    </a>
  </div>
</div>

<a name="event"></a>
<div id="event" class="padding-top" style="background-color:#fff">
  <h1 style="color: #ff4e00">LET'S HACK !</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-10">
        <p class="text-weight">Get hands-on at the annual Geek Girls Carrots two-day FinTech Hackathon for developers, graphic designers, programmers, application architects, social media specialists, system architects, and women with startup ideas.</p>
        <p>We want to engage the participants in creating FinTech solutions – made by women – by competing in many different challenges provided by our partners and participants themselves. At the end of the "Hack like a Girl" hackathon, created results and prototypes will be rewarded and introduced to all conference attendees.</p>
      </div>
    </div>
  </div>
</div>
<div class="padding-bottom">
  <ul class="nav nav-pills padding-top-bottom-mid video">
      <li class="active"><a href="#v2017" data-toggle="tab">2017</a></li>
      <li><a href="#v2016" data-toggle="tab">2016</a></li>
      <li><a href="#v2015" data-toggle="tab">2015</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="v2017">
        <div class="row">
          <div class="video-container">
            <iframe width="720" height="405" src="https://www.youtube.com/embed/eHVNFuZBSus?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v2016">
        <div class="row">
          <div class="video-container">
            <iframe width="720" height="405" src="https://www.youtube.com/embed/jor5GUj4cGI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v2015">
        <div class="row">
          <div class="video-container">
            <iframe width="720" height="405" src="https://www.youtube.com/embed/l-xmbvgRQ1Q?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
</div>

<a name="why"></a>
<div id="why" class="img-bg padding-top-bottom" style="background-color: none ;color:#fff;">
  <h1>WHY SHOULD YOU BE THERE?</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2 style="color: #ff4e00"><span class="glyphicon glyphicon-console" aria-hidden="true"></span></h2>
        <h2>HACK &amp; DEVELOP</h2>
        <p>You will spend this weekend by hacking and building a product together with your team and
        support of the mentors. Your projects should be built from scratch.</p>
      </div>
      <div class="col-sm-4">
        <h2 style="color: #ff4e00"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></h2>
        <h2>LEARN &amp; MEET</h2>
        <p>No matter your expertise, you will learn something new there. Attendees range from
        newbies to seniors. Participants and mentors are here to cooperate and enjoy hacking.</p>
      </div>
      <div class="col-sm-4">
        <h2 style="color: #ff4e00"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></h2>
        <h2>ENJOY &amp; RELAX</h2>
        <p>It is not work! There will be plenty of time to relax, enjoy some cool music and coffee with
        amazing people. We’ll be providing healthy and tasty meals and sport classes to keep your
        mind, body, soul balanced while coding.</p>
      </div>
    </div>
  </div>
</div>

<a name="challenges"></a>
<div id="challenges" class="padding-top-bottom" style="background-color:#EEEEEE;color:#4D4D4D">
  <h1>CHALLENGES</h1>
  <div class="container">
    <div class="row">
      LIST
    </div>
  </div>
</div><script type="text/javascript">$("div#challenges").hide();</script>

<a name="team"></a>
<div id="team" class="padding-top-bottom" style="background-color:#FD775B;color:#fff">
  <div class="container">
      <h1>TEAM</h1>
      <div id="mentors">
        <h1 class="padding-top-bottom-md">MENTORS</h1>
        <div class="row">
          <div class="col-sm-4 padding-bottom-mini">
            <%= image_tag "babette.jpg", size: "200", class: "img-circle" %>
          </div>
          <div class="col-sm-8">
            <h2 class="name">Babette Wagner <span class="mentor-company">Axel Springer</span></h2>
            <p class="bio">Babette is a very experienced developer who has been working in the development of web
              applications for 10 years with a focus on Java backend. After she enjoyed the experience as a Hack like a
              Girl mentor in 2016 she is looking forward to participating again this year.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 padding-bottom-mini">
            <%= image_tag "igor_schneider.jpg", size: "200", class: "img-circle" %>
          </div>
          <div class="col-sm-8">
            <h2 class="name">Igor Schneider <span class="mentor-company">Cornelsen Verlag GmbH</span></h2>
            <p class="bio">Igor Schneider is originally from Croatia. In his home country he studied informatics and
              physics. Most of his experience was collected within the field of client development. He is most
              comfortable working in web. His hobbies are eating burger, angular and long walks along the beach.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 padding-bottom-mini">
            <%= image_tag "marcel.jpg", size: "200", class: "img-circle" %>
          </div>
          <div class="col-sm-8">
            <h2 class="name">Marcel Tannhäuser <span class="mentor-company">Cornelsen Verlag GmbH</span></h2>
            <p class="bio">Marcel Tannhäuser did an apprenticeship 15 years ago to become an IT specialist and is a
              developer ever since. He also likes web or desktop GUIs and is mostly working where nothing is found
              except for stack trace and console. As a native Bielefelder his motto is: Geht nicht, gibt’s nicht
              (Nothing’s impossible). At least not when it’s possible to apply Java.
            </p>
          </div>
        </div>
      </div>
      <div class="padding-top" id="jury">
        <h1 class="padding-top-bottom-md">JURY</h1>
        <div class="row">
          <div class="col-sm-4 padding-bottom-mini">
            <%= image_tag "Tim.jpg", size: "200", class: "img-circle" %>
          </div>
          <div class="col-sm-8">
            <h2 class="name">Tim Adam</h2>
            <p class="bio">Tim Adam is the Rudolf-von-Bennigsen-Professor of Corporate Finance at Humboldt
              University, Berlin, Germany. His primary research interests lie in the areas of empirical corporate
              finance, especially corporate risk management, and financial intermediation. Current research projects
              focus on the use of performance pricing provisions in syndicated loans, the use of leverage by mutual
              funds, and capital market financing of SMEs in Germany.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 padding-bottom-mini">
            <%= image_tag "DanielLou.jpg", size: "200", class: "img-circle" %>
          </div>
          <div class="col-sm-8">
            <h2 class="name">Daniel Lou </h2>
            <p class="bio">Daniel is a technology strategist at SAP and is interested in all aspects of data management.
              He has worked on such topics for many years in various organizations, and had designed and led development
              of many data intensive applications for customers in Asia and Europe.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 padding-bottom-mini">
            <%= image_tag "franziska.jpeg", size: "200", class: "img-circle" %>
          </div>
          <div class="col-sm-8">
            <h2 class="name">Franziska Kleiner</h2>
            <p class="bio">I am the Social and Economic Justice Lead for ThoughtWorks Germany. My focus is connecting
              ThoughtWorks to active communities and engaging with people who are working towards a more just and
              prosperous world.</p>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-sm-4 padding-bottom-mini">
        <%= image_tag "ggcteam.jpeg", size: "200", class: "img-circle" %>
      </div>
      <div class="col-sm-8">
        <h2 class="name">Geek Girls Carrots Berlin</h2>
        <p class="bio">We are a Berlin chapter of the global organisation focused on connecting,
        learning and inspiring women in Tech and IT. We create community by organising meetings, workshops, and
        other events, which gather people to share their knowledge and experience. We bring together female
        admins, developers, designers, women with startup ideas, computer science students and many more. 
        </p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">$("div#team").hide();</script>
<a name="sponsors"></a>
<div id="sponsors" class="padding-top-bottom" style="background-color:#EEEEEE;color:#4D4D4D">
  <div class="container">
    <h1>SPONSORS</h1>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-3 col-xs-4 col-xs-offset-2 s-logo">
        <a href="https://digital.lidl">
          <%= image_tag "sponsors/lidl.png", class: 'img-responsive' %>
        </a>
      </div>
      <div class="col-sm-3 col-sm-offset-1 col-xs-5 s-logo">
        <a href="https://www.proalpha.com/de/">
          <%= image_tag "sponsors/proalpha.png", class: 'img-responsive' %>
        </a>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-4 col-sm-offset-1 col-xs-7 col-xs-offset-3 s-logo">
        <a href="http://go.sap.com/index.html">
          <%= image_tag "sponsors/sap.png", class: 'img-responsive padding-bottom-mini' %>
        </a>
      </div>
      <div class="col-sm-2 col-sm-offset-0 col-xs-4 col-xs-offset-2 s-logo">
        <a href="https://digital.lidl">
          <%= image_tag "sponsors/lidl.png", class: 'img-responsive gold-logo' %>
        </a>
      </div>
      <div class="col-sm-3 col-sm-offset-0 col-xs-5 s-logo">
        <a href="https://www.proalpha.com/de/">
          <%= image_tag "sponsors/proalpha.png", class: 'img-responsive gold-logo' %>
        </a>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3 col-xs-6 col-xs-offset-1 s-logo">
        <a href="https://www.finanz-heldinnen.de">
          <%= image_tag "sponsors/finanz.png", class: 'img-responsive' %>
        </a>
      </div>
      <div class="col-sm-2 col-sm-offset-1 col-xs-4 s-logo">
        <a href="https://www.zoi.de">
          <%= image_tag "sponsors/zoi.png", class: 'img-responsive' %>
        </a>
      </div>
    </div>
    <h2 class="padding-top">Partners:</h2>
    <div class="row padding-bottom-mini">
      <div class="col-sm-3 col-sm-offset-3 col-xs-6 s-logo">
        <a href="https://berlin2018.codemotionworld.com/">
          <%= image_tag "partners/codemotion.png", class: 'img-responsive center-block' %>
        </a>
      </div>
      <div class="col-sm-3 col-sm-offset-0 col-xs-6 s-logo">
        <a href="https://www.young-targets.com/">
          <%= image_tag "partners/young.png", class: 'img-responsive center-block' %>
        </a>
      </div>
    </div>
    <h2 class="padding-top-bottom-mini">If you are interested to be our sponsor, media partner or provide a public API with tutoring support, please send us an <a href="mailto:berlin@gocarrots.org"> email!</a></h2>
  </div>
</div>

<a name="schedule"></a>
<div id="schedule" class="container-fluid padding-top-bottom">
  <h1 style="color: #ff4e00">SCHEDULE</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-4 padding-top">
        <h2 style="padding-bottom: 40px"><span class="highlight">//</span> FRIDAY <span class="highlight">//</span>
          10/05/18</h2>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">5:30 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Registration</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">6 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Welcome & Rules of HLAG</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">6:15 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Keynote</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">6:45 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Introducing Challenges, Mentors & APIs</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">7:15 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Team Building & Idea Generation</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">8:30 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Begining of development</p>
            </div>
          </div>
      </div>
      <div class="col-md-4 padding-top">
        <h2 style="padding-bottom: 40px"><span class="highlight">//</span> SATURDAY <span class="highlight">//</span>
          10/06/18</h2>

          <div class="row">
            <div class="col-xs-4">
              <p class="time">8 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Team Work & Breakfast</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">9 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Welcome</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">9:30 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Start hacking!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">12 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Lunch</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">1:30 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Team Work</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">8 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Dinner</p>
            </div>
          </div>
      </div>
      <div class="col-md-4 padding-top">
        <h2 style="padding-bottom: 40px"><span class="highlight">//</span> SUNDAY <span class="highlight">//</span>
          10/07/18</h2>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">8 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Team Work & Breakfast<br/></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">10:30 am</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Sport Session<br/></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">12 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Lunch</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">2:30 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Finish hacking & Soundcheck</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">3 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Final Pitch</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <p class="time">6 pm</p>
            </div>
            <div class="col-xs-7">
              <p class="timetable-item">Awards Ceremony</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<a name="location"></a>
<div id="location" class="container-fluid padding-top no-padding-bottom" style="background-color:#FD775B;color:white">
  <h1>LOCATION</h1>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h2 class="padding-bottom">Kick-off</h2>
      <h3>TBA</h3>
      <!-- <div id="map-canvas" style="height: 500px" class="map"></div> -->
    </div>
    <div class="col-md-6 col-xs-12">
      <h2 class="padding-bottom">Hackathon</h2>
      <h3>TBA</h3>
      <!-- <div id="map-canvas2" style="height: 500px" class="map"></div> -->
    </div>
  </div>
</div>
<script type="text/javascript">$('div#location').hide();</script>
<!-- <script>
    function initMap() {
        var kickOff = {lat: 52.507241, lng: 13.394542};
        var hackathon = {lat: 52.507529, lng: 13.391356};
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            center: kickOff,
            scrollwheel: false,
            zoom: 16,
            draggable: false
        });
        var marker = new google.maps.Marker({
            position: kickOff,
            map: map,
            title: 'Kick-off'
        });
        var map2 = new google.maps.Map(document.getElementById('map-canvas2'), {
            center: hackathon,
            scrollwheel: false,
            zoom: 16,
            draggable: false
        });
        var marker2 = new google.maps.Marker({
            position: hackathon,
            map: map2,
            title: 'Hackathon'
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpIu9bqbTSkk1ZWJdp_gauXswx3-jVj3E&callback=initMap"
        async defer></script> -->

<a name="faq"></a>
<div id="faq" class="padding-top-bottom" style="background-color:#EEEEEE;color:#4D4D4D">
  <div class="container">
    <h1>FAQ</h1>
    <h3 class="question">What do I need to do to attend?</h3>
    <p class="answer">Please, register for the hackathon on Eventbrite. Since we want to make
sure that those who register also show up, we kindly ask you for a deposit
of 10€ via Eventbrite. The full amount will be transferred back to you after
the Event.
    </p>
    <h3 class="question">What if I don’t have an idea or a team?</h3>
    <p class="answer">You shouldn’t be concerned about the lack of an idea or a team. We are
organising a kick-off meeting 1 day before the Hackathon. During the
meeting, you will be able to find out more about the projects, form a team of
your own or join an existing one. You will also have a chance to chat with
the members of the closed Facebook group that was created for the
Hackathon.
    </p>
    <h3 class="question">Can non-developers also join the event?</h3>
    <p class="answer">Sure! We welcome various professions, like designers, product managers, marketing managers, data
      scientists, etc. </p>
    <h3 class="question">What kind of hackers are you looking for?</h3>
    <p class="answer">We are looking for all kind of IT creative and innovative people: software, hardware, mobile, web
      with any coding language. We search for friendly and enthusiastic people with a global perspective.
    </p>
    <h3 class="question">How much experience do I need?</h3>
    <p class="answer">Anyone is free to apply, but we focus mostly on people with some technical experience. The
      applicants will be evaluated fairly and with the use of multiple filters.
    </p>
    <h3 class="question">What is the official language of the Hackathon?</h3>
    <p class="answer">The official language of our event is English. Of course, you can also communicate in German but
      you should keep in mind the non-German speakers. Let’s make sure that no one feels left out.
    </p>
    <h3 class="question">What do I need to take with me?</h3>
    <p class="answer">First of all, try to come as well-rested as possible. You will need a clear mind and fresh ideas.
      Other than this, all you have to bring along is your laptop and a charger. We will take care of the rest.
    </p>
    <h3 class="question">Will I get to know the API and other participants before the event starts?</h3>
    <p class="answer">Yes, we will organise a kick-off meeting on Friday, one day before the event starts. This way all
      the participants will get to know each other. The API will be presented by mentors from each companies during
      venue. </p>
    <h3 class="question">Are there any prizes?</h3>
    <p class="answer">“Hack like a girl” is all about diversity, collaboration, meeting new friends and exchanging
      experience rather than about competition. Thus, prizes are not the focus, just a bonus. We will provide more
      detail on the sponsored prizes in the near future.</p>
    <h3 class="question">If you want to encourage more women to work in IT, why is it not a women-only hackathon?</h3>
    <p class="answer">We want to support women to be more present in the IT world. For that we want to encourage women
      to take on more jobs in IT and to encourage men who work beside them to be more supportive of that. In our opinion
      envolving men in this process is just as important as encouraging women!</p>
    <h3 class="question">Is there a code of conduct for the hackathon?</h3>
    <p class="answer">Sure, we want to ensure that everyone's opinion and work is respeted. All attendees, sponsors and
      mentors at the hackathon are required to agree with the following code of conduct. We are expecting cooperation
      from all participants to help ensuring a safe environment for everybody. Our hackathon is dedicated to providing a
      harassment-free experience for everyone, regardless of gender, age, sexual orientation, disability, physical
      appearance, body size, race, or religion. We do not tolerate harassment of participants in any form. Sexual
      language and imagery is not appropriate for any parts of our events, including talks, workshops, Twitter and other
      online media. Attendees violating these rules may be sanctioned or expelled from this hackathon and/or any future
      meetups at the discretion of the organisers.</p>
  </div>
</div>

<a name="who"></a>
<div id="who" class="padding-top padding-top-bottom" style="background-color:#fff;color:#4D4D4D">
  <div class="container">
    <h1 class="contact" style="color:#ff4e00">WHO ARE WE?</h1>
    <div class="row">
      <div class="col-md-offset-1 col-md-3 padding-bottom-mini">
        <%= image_tag "ggcteam.jpeg", size: "200", class: "img-circle" %>
      </div>
      <div class="col-md-7">
        <p class="org text-weight">Geek Girls Carrots Berlin is a chapter of the global organisation focused on connecting,
        learning and inspiring women in Tech and IT.</p><p class="org"> We create community by organising meetings, workshops, and
        other events, which gather people to share their knowledge and experience. We bring together female
        admins, developers, designers, women with startup ideas, computer science students and many more. 
        </p>
        <div class="center-block padding-top-mini">
          <a href="http://gocarrots.org/">
            <%= image_tag "ggc-link.png", size: "200x75" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<a name="contact"></a>
<div id="contact" class="img-bg" style="background-color:#EEEEEE;color:#fff">
  <div class="container">
    <h1 class="contact">CONTACT US</h1>
    <p class="contact"> If you have any questions, please, write us!</p>
    <p class="middle-padding-bottom button">
      <a class="btn btn-default btn-lg btn-sharp" href="mailto:berlin@gocarrots.org" target="_blank" role="button">Send
        a message</a>
    </p>
    <a href="https://www.facebook.com/ggc.berlin/" target="_blank">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook-f fa-stack-1x"></i>
          </span>
    </a>
    <!-- <a href="https://twitter.com/ggCarrotsBerlin">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
    </a> -->
    <a href="https://www.meetup.com/Geek-Girls-Carrots-Berlin/">
          <span class="social_span fa-stack fa-2x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-meetup fa-stack-1x"></i>
          </span>
    </a>
  </div>
</div>

<div class='footer'>
  <div class='container-fluid padding-top-bottom-mid' style="background-color:#ff4e00;color:#fff">
    <h4>Copyright © Geek Girls Carrots Berlin 2018</h4>
  </div>
</div>
