<!DOCTYPE html>
<html>
<head>
  <title>Hack like a girl!</title>
  <%= favicon_link_tag asset_path('icon.png'), :rel => 'icon', :type =>  'image/png' %>
  <link href='//fonts.googleapis.com/css?family=Orbitron:black|Orbitron:bold' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <meta property="og:title" content="5-7 October 2018 | Hack like a girl!" />
  <meta property="og:description" content="FinTech & Blockchain Hackathon" />
  <meta property="og:image" content="http://www.hacklikeagirl.co/assets/logo-ggc.png" />
  <meta property="og:url" content="http://www.hacklikeagirl.co/" />
  <meta property="og:site_name" content="Hack like a girl!" />
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body data-spy="scroll" data-target="#navbar-example">
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".page-scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });

    jQuery(document).ready(function ($) {
        $('.navbar-collapse').click('li', function () {
            $('.navbar-collapse').collapse('hide');
        });
    });
</script>
<%= yield %>

</body>
</html>
